.profile__user {
  margin: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
}

@media screen and (min-width: 768px)
{
  .profile__user {
    flex-flow: row;
    align-items: center;
  }
}